.top-border, .right-border, .left-border, .bottom-border
  background-color: $white
  position: fixed
  z-index: 996

.top-border, .bottom-border
  width: 100%
  height: 1.5em

.bottom-border
  bottom: 0

.left-border, .right-border
  width: 1.5em
  height: 100%

.right-border
  right: 0

.paper-bg
  width: 100%
  height: 100%
  background-image: url("/images/ricepaper-texture.png")
  opacity: .15

#home, #about, #merch, #contact
  position: relative
  width: 100%
  height: 100%
  background-position: center
  background-size: cover
  background-repeat: no-repeat

#home
  background-color: $white

#about, #merch, #contact
  background-color: $black

.content
  position: absolute
  width: 30vw
  height: 30vw
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
